@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<p></p>
<p></p>

<h1>Adress</h1>
<p> Lagos, Nigeria</p>

<h2>Email</h2>
<p>gadgetfixers@GadgetFixers.com</p>

<h3>Phone</h3>
<p>+234-xxxxxxxxxx</p>
